.back-btn {
    width: fit-content;
    background: transparent;
    border: none;
    color: #1565C0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 20px;
    padding: 0;

    box-shadow: none;
    transition: color 0.3s;
}

.back-btn:hover {
    color: #0D47A1;
    transform: none;
    box-shadow: none;
}